.topnav {
    background-color: #8c8c8c;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #d9d9d9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #e6e6e6;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #80d4ff;
    color: white;
}
